<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animations</title>
</head>
<body class="page">

  <header class="page__header header">
    <h1 class="title title_size_like-text title_margin_collapse">
      Animations
    </h1>
  </header>

  <main class="page__main main">
    <canvas class="main__canvas canvas" tabindex="1"></canvas>
  </main>

  <footer class="page__footer footer">
    <div class="footer__source-link">
      <a class="link" href="https://github.com/Dv-Andrew/fun__animations">
        Source
      </a>
    </div>
  </footer>

</body>
</html>
